.projects-container {
  width: 98%;
  margin: 30px 0 50px;
  text-align: center;
}

.projects-container h2 {
  margin-bottom: 50px;
}

.projects-container .container-cards-projects {
  display: grid;
  justify-items: center;
  width: 100%;
  row-gap: 50px;
}