.section-skills {
  width: 90%;
  min-height: 240px;
  margin: 30px auto 0;
}

.container-skills {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 52px;
  border-radius: 8px;
  background-color: #181818;
  padding: 15px;
}

.container-skills svg {
  font-size: 46px;
}

.container-skills .icons-html-css {
  padding-top: 4px;
  width: 40px;
}