.section-skills {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 1rem;
  width: 100%;
  background-color: #181818;
  margin-bottom: 60px;
  padding: 18px;
}

.container-skills svg {
  font-size: 46px;
}

.container-skills .icons-html-css {
  padding-top: 4px;
  width: 40px;
}

.container-skills-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
}

@media screen and (max-width: 768px) {

  .section-skills {
    width: 90%;
  }

  .container-skills {
    grid-template-columns: repeat(2, 1fr);
  }
}