.card-container {
  min-width: 320px;
  height: 400px;
  display: flex;
  flex-direction: column;
  transition: transform 200ms;
}

.card-container:hover {
  transform: scale(1.05);
  transition: transform 300ms;
}

.card-container .card-title {
  color: #08fdd8;
  border-bottom: 1px solid #08fdd8;
  padding-bottom:10px;
  min-width: 320px;
  display: inline-block;
  font-size: 22px;
}

.card-container .card-img {
  margin-top: 10px;
  width: 320px;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  margin-top: 20px;
}

.card-container .card-footer svg {
  font-size: 40px;
}

.card-footer .icons-html-css {
  width: 32px !important;
}