.container-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 80px 0 80px;
  padding: 0 25px;
  text-align: center;
}

.container-about-title {
  margin: 0;
}

.container-about h2 span {
  color: #08fdd8;
  margin: 0;
}

.container-about>p {
  margin-top: 10px;
  color: #838181;
  font-size: 18px;
}

.container-about .about-contact-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
}

.container-about .about-contact-container p {
  font-size: 22px;
}

.about-contact-container>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.img-camilo {
  width: 250px;
  border-radius: 50%;
  margin: 20px 0;
}