.container-about {
  width: 90%;
  margin: 80px auto 60px;
}

.container-about h2 span {
  color: #08fdd8;
}

.container-about>p {
  margin-top: 10px;
  color: #838181;
}

.container-about .about-contact-container {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 15px;
}

.container-about .about-contact-container p {
  font-size: 1.2rem;
}

.about-contact-container > div{
  display: flex;
      flex-direction: column;
      gap: 15px;
}