@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 75px;
  background-color: #181818;
}

header div {
  display: flex;
  align-items: center;
  color: #c1c1c1;
  font-size: 1.5rem;
}

header span {
  padding: 8px 0 0 8px;
  font-family: 'La Belle Aurore', cursive;
}

header .header-icon-menu {
  width: 35px;
  height: 35px;
}

header .IoMenu path {
  stroke-width: 30px;
}

/*Styles mobile*/
.nav-menu-mobile {
  background-color: #181818;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  bottom: -200%;
  width: 100%;
  transition: 850ms ease;
  height: 92vh;
  z-index: 1;
  padding-bottom: 20px;
}

.nav-menu-mobile.active {
  bottom: 0px;
  transition: 850ms ease;
}

.nav-menu-mobile a {
  text-decoration: none;
  color: #d4dde4;
}

.nav-menu-mobile>a {
  text-align: center;
  width: 200px;
  padding-bottom: 5px;
  font-size: 1.6rem;
  border-bottom: 1px solid #d4dde4;
}

.container-icons-social-media {
  display: flex;
  justify-content: space-around;
  width: 150px;
}

.container-icons-social-media>a {
  font-size: 1.8rem;
}

.container-icons-social-media svg {
  font-size: 2.5rem;
}

/*Styles desktop*/

.nav-menu-desktop {
  display: none;
  column-gap: 25px;
}

.nav-menu-desktop > a {
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-menu-desktop > a:hover {
  color: #08fdd8;
  text-decoration: underline;
}