.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #181818;
  row-gap: 20px;
}

.footer span {
  color: #c1c1c1;
}

.footer .footer-icons .icon-social-media {
  color: #fff;
  font-size: 2.3rem;
  margin: 0 30px;
}

.footer .footer-icons .icon-social-media:hover {
  color: #08fdd8;
}